body
{
font-size:80%;
font-family:verdana;
background-color:#FFFFF0;
color:#053590;
margin:40px;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

ul {list-style:circle;}
ol {list-style:upper-roman;}

a:link {color:#000080;}
a:hover{color:red;}